
.idea/misc.xml
.idea/modules.xml
.idea/npuzzle.iml
.idea/vcs.xml
.idea/workspace.xml
Classes/__pycache__/Parser.cpython-37.pyc
.idea/inspectionProfiles/profiles_settings.xml
Classes/ErrorClasses/__pycache__/Errors.cpython-37.pyc
Classes/ErrorClasses/__pycache__/Errors.cpython-37.pyc
