
.idea/misc.xml
.idea/modules.xml
.idea/npuzzle.iml
.idea/vcs.xml
.idea/workspace.xml
Classes/__pycache__/Parser.cpython-37.pyc
.idea/inspectionProfiles/profiles_settings.xml
__pycache__
*/__pycache__
random.txt
*.pyc
*/*.pyc
*/*/*.pyc
output.txt
